/*---------------------------About Page-----------------------------*/

body, html {
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
font-size: 16px #fff; 
margin: 10px 0px;
padding: 15px;
width: 960px;
}

div{
background: url(gradient_bg.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*-------------------------Content-------------------------*/

.see {
font-size: 40px;
font-color: #7a991a;
text-align: center;
text-shadow: 2px 2px #ccc;
margin: 10px 0px;
padding: 50px 0px;
}

.art, .attractions, .after, .neighborhoods {
font-size: 24px;
font-color: #ffffff;
text-align: left;
margin: 5px 0px;
padding: 10px 0px;
}



.foot { font-size: 12px; color: #cc0000;}

