
div{
background: url('gradient_bg.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}







h2 {font-size: 40px; color: #333366; margin-top: 0px}

.foot { font-size: 12px; color: #cc0000;}

