/*---------------------------About Page-----------------------------*/

body, html {
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
font-size: 16px #fff; 
margin: 10px 0px;
padding: 15px;
width: 960px;
}

div{
background: url(gradient_bg.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*-------------------------Content-------------------------*/

.see {
font-size: 40px;
font-color: #7a991a;
text-align: center;
text-shadow: 2px 2px #ccc;
margin: 10px 0px;
padding: 50px 0px;
}

div .arts, .attractions, .after, .neighborhoods {
font: 18px #FFFFCC;
text-align: left;
margin: 0;
padding: 15px 20px 0;
}

.art, .attractions, .after, .neighborhoods p {
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
}

.foot { 
font: 12px #cc0000;
margin:0px;
padding: 25px; 0px
}

