body { 
font: 12px #fff; 
margin: 10px 10px;
padding: 15px;
width: 960px;
}


ul.gallery {
display: inline;
float: right;
list-style: none;
width: 800px;
height: 800px;
text-align: center;
margin: 10px;
padding-right: 5px 5px;
}

h2 {
font-size: 40px; 
color: #333366; 
margin-top: 0px
}

h3 {
font-size: 40px; 
color: #666; 
margin-top: 0px
}