body { 
font: 12px #fff; 
margin: 10px 10px;
padding: 15px;
width: 960px;
}


ul.gallery {
display: inline;
float: right;
list-style: none;
width: 800px;
height: 800px;
text-align: center;
margin: 10px;
padding-right: 5px 5px;
}

h2 {
font: 40px ##7a991a;
text-align: left; 
margin: 5px 0px;
padding: 50px 0px;
}

h3 { 
font: 40px #7a991a;
text-align: center;
text-shadow: 2px 2px #ccc;
margin: 5px 0px;
padding: 50px 0px;
}