body{
background: #CCC;
margin: 0;
padding: 0;
}

#wrapper {
width: 960px;
margin: 0 auto;
}

div h2 {
font: 24px ##98BF21;
font-weight: bold;
margin: 0;
padding: 15px 20px 0;
}

div .arts, .attractions, .after, .neighborhoods {
font: 18px #FFFFCC;
margin: 0;
padding: 15px 20px 0;
}

/*------------------------------Aside----------------------------------------------*/

aside {
width: 600px;
float: right;
}

h3 {
font: 24px #7A991A;
font-weight: bold;
margin: 15px;
padding: 15px 20px 0;
}

.grandma {
float:left;
width: 240px;
height: 320px;
margin:5px;
padding: 10px 0px 10px 10px;
}

.house {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px 15px;
}

.bottles {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px 15px;
}

.town {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px 15px;
}

p {
clear: both;
margin: 5px;
}


footer {
font-size: 12px; color: #98BF21;
}

