body{
background: #ccc;
margin: 0;
padding: 0;
}

#wrapper {
width: 960px;
margin: 0 auto;
}

h2 {
margin: 0;
padding: 15px 20px 0;
}

h3 {
font: 24px #7a991a;
margin: 0;
padding: 15px 20px 0;
}

p {
margin: 0;
padding: 0 20px;
float: right;
}

/*------------------------------Aside----------------------------------------------*/

aside {
width: 600
float: right;
}

.grandma {
width: 94px;
height: 125px;
margin: 0px;
padding: 0px 15px;
float:right;
}

footer {

}