h2 {
font-size: 40px; 
color: #333366; 
margin-top: 0px
}

h3 {
font-size: 40px; 
color: #666; 
margin-top: 0px
}

body { 
font-size: 14px; color: #fff; 
margin: 10px 10px;
padding: 15px;
width: 960px;
overflow:hidden;
}

.gallery li {
display: inline;
list-style: none;
width: 250px;
min-height: 175px;
float: left;
margin: 10px 10px;
padding: 5px 5px
text-align: center;
}