body { 
font: 12px #fff; 
margin: 10px 10px;
padding: 15px;
width: 960px;
}


ul.gallery {
display: inline;
float: right;
list-style: none;
width: 250px;
height: 250px;
text-align: center;
margin: 5px;
padding: 5px 0px;
overflow: hidden;
}

h2 {
font-size: 40px; 
color: #333366; 
margin-top: 0px
}

h3 {
font-size: 40px; 
color: #666; 
margin-top: 0px
}