h2 {
font-size: 40px; 
color: #333366; 
margin-top: 0px
}

h3 {
font-size: 40px; 
color: #666; 
margin-top: 0px
}

body { 
font: 14px #fff; 
margin: 10px 10px;
padding: 15px;
width: 960px;
}

<<<<<<< HEAD
.thumbnail 
{
float:left;
width: 250px;
height: 250px;
margin: 5px;
padding: 10px;
=======
.thumbnail {
display: inline;
list-style: none;
width: 250px;
min-height: 175px;
float: left;
text-align: center;
margin: 5px;
>>>>>>> parent of 156f637... change markup to display gallery img with captions
}