body{
background: #ccc;
margin: 0;
padding: 0;
}

#wrapper {
width: 960px;
margin: 0 auto;
}

h2, h3 {
margin: 0;
padding: 15px 20px 0;
}

p {
margin: 0;
padding: 0 20px;
float: right;
}

aside {
float: left;
}

h3 {
font: 24px font-color: #7a991a;
}

.grandma {
width: 240px;
height: 320px;
float: right;
border-width:5px;	
border-style:ridge;
}













.grandama {

}

/*------------------------------Aside----------------------------------------------*/

footer {

}