h2 {
font-size: 40px; 
color: #333366; 
margin-top: 0px
}

h3 {
font-size: 40px; 
color: #666; 
margin-top: 0px
}

body { 
font: 14px #fff; 
margin: 10px 10px;
padding: 15px;
width: 960px;
}

.thumbnail 
{
float:left;
width:110px;
height:90px;
margin:5px;
}