body{
background: #ccc;
margin: 0;
padding: 0;
}

#wrapper {
width: 960px;
margin: 0 auto;
}

h2 {
margin: 0;
padding: 15px 20px 0;
}

h3 {
font: 24px #7a991a;
margin: 0;
padding: 15px 20px 0;
}

p {
margin: 0;
padding: 0 20px;
float: right;
}

/*------------------------------Aside----------------------------------------------*/

aside {
width: 600px;
float: right;
}

.grandma {
width: 240px;
height: 320px;
margin: 0px;
padding: 0px 15px;
float:right;
}

.house {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px 15px;
float:left;
}

.bottles {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px 15px;
float:left;
}

.town {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px 15px;
float:left;
}

footer {

}