h2 {
font-size: 40px; 
color: #333366; 
margin-top: 0px
}

h3 {
font-size: 40px; 
color: #666; 
margin-top: 0px
}

body { 
font: 12px #fff; 
margin: 10px 10px;
padding: 15px;
width: 960px;
}


.thumbnail {
display: inline;
list-style: none;
width: 250px;
height: 250px;
float: left;
text-align: center;
margin: 5px;
overflow: hidden;
}