body { 
	font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
	font-size: 16px; color: #000; margin: 0;
	}
	
div{
background:url('bg1.jpg');
background-size:100% 100%;
background-repeat:no-repeat;
}

a:link, a:hover, a:active, a:visited   {text-decoration: none; background: #ffffff; outline:none;}
a:link    	{color: #000;}
a:hover		{color: #cc6600;}
a:active   {color: #ff9933;}
a:visited   {color: #ffcccc;}
	
ul{
list-style-type:none
}	
	
h1, h2, h3 { font-family:"Century Gothic","Lucida Grande",Arial,sans-serif;}
h1 {font-size: 40px; color: #666; margin-top:0px}
h2 {font-size: 40px; color: #333366; margin-top:0px}
h3 {font-size: 40px; color: #666; margin-top:0px}


.pics { 
background-color: #999;
border: 6px solid #666;
}