/*-----------------------------Home---------------------------*/


body, html {
background: #191919;
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
font-size: 16px; color: #fff; 
margin: 10px 0px;
padding: 15px;
width: 960px;
}
	
div{
background: url('bg1.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*-----------------------Navigation----------------------------*/

ul{
width: 500px;
margin: 0 auto;
background: #999;
list-style-type:none;
padding: 0;
}	

li { display: inline;}
a:link, a:hover, a:active, a:visited   
a:link    	{color: #fff;}
a:hover		{color: #cc6600;}
a:active   {color: #ff9933;}
a:visited   {color: #ffcccc;}
	
ul{
list-style-type:none
}	
	
h1, h2, h3 { font-family:"Century Gothic","Lucida Grande",Arial,sans-serif;}
h1 {font-size: 40px; color: #666; margin-top: 0px}
h2 {font-size: 40px; color: #333366; margin-top: 0px}
h3 {font-size: 40px; color: #666; margin-top: 0px}


/*.pics { 
background-color: #999;
border: 3px solid #666;
border-radius: 10px;
}*/


.foot { font-size: 12px; color: #cc0000;}
