/*-----------------------------Home---------------------------*/

body, html {
background: #191919;
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
font-size: 16px; color: #fff; 
margin: 10px 0px;
padding: 15px;
width: 960px;
}
	
div{
background: url('bg1.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*-----------------------Navigation----------------------------*/

ul{
width: 400px;
margin: 0 auto;
background: #999;
list-style-type:none;
padding: 5px;
overflow: hidden;
}	

li { 
display: inline;
width: 100px;
background: silver;
float: right;
clear: bottom;
}

a{
text-decoration: none;
background: #fff;
display: block;
height: 30px;
line-height: 30px;
text-align: center;
color: #cc0000;
  
a:link {
color: #fff;
background: #d0000d;
}

a:hover	{
color: #cc6600;
background: #cc0000;
}

a:active {
color: #ff9933;
}

a:visited {
color: #ffcccc;
}
	

	
h1, h2, h3 { font-family:"Century Gothic","Lucida Grande",Arial,sans-serif;}
h1 {font-size: 40px; color: #666; margin-top: 0px}


.foot { 
font-size: 12px; color: #cc0000;
}
