/*-----------------------------Home---------------------------*/

body {
background: #191919;
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
font: 16px #FFFFFF; 
margin: 10px 0px;
padding: 15px;
width: 960px;
}
	
div{
background: url('bg1.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*-----------------------Navigation----------------------------*/

ul{
width: 600px;
margin: 0;
padding: 0;
list-style-type: none;
overflow: hidden;
}	

li {
float: right;
}

a:link, a:visited {
display: block;
text-transform:uppercase;
font: bold 24px;
color: #FFFFFF;
background-color: #98bf21;
text-align: left;
padding: 4px;
text-decoration: none;
}

a:hover, a:active {
background-color: #7A991A;
}

p {
text-align: justify;
}
	
/*--------------------Home - Welcome to Atlanta--------------------*/

h1 { 
font-size: 40px;
font-color: #FFF;
text-align: left;
text-shadow: 2px 2px #CCC;
margin: 5px 0px;
padding: 5px 0px;
}


/*------------------------------About--------------------------------*/



/*--------------------------City Gallery-----------------------------*/

div h2 {
font: 24px ##98BF21;
font-weight: bold;
margin: 0;
padding: 15px 20px 0;
}

aside {
width: 600px;
float: right;
}

h3 {
font: 24px #7A991A;
font-weight: bold;
margin: 15px;
padding: 15px 20px 0;
}

.grandma {
float:left;
width: 240px;
height: 320px;
margin:0px 15px;
padding: 10px 15px 10px 0px;
}

.house {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px; 15px;
overflow: hidden;
}

.bottles {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px; 15px;
}

.town {
width: 125px;
height: 94px;
margin: 0px;
padding: 0px; 15px;
}

p {
clear: both;
margin: 5px;
float: left;
}


footer {
font-size: 12px; color: #98BF21;
}

/*---------------------------Learn More------------------------------*/

ul li {
list-style-type:none
}	

/*------------------------------Footer-------------------------------*/

.foot { 
font-size: 12px; color: #98BF21;
}
