/*-----------------------------Home---------------------------*/

body, html {
background: #191919;
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
font-size: 24px; color: #fff; 
margin: 10px 0px;
padding: 15px;
width: 960px;
}
	
div{
background: url('bg1.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*-----------------------Navigation----------------------------*/

ul{
list-style-type: none;
margin: 0;
padding: 0;
list-style-type: none;
overflow: hidden;
}	

li {
float: right;
}

a:link, a:visited {
display: block;
font-weight: bold;
color: #fff
background-color: #98bf21;
text-align: center;
padding: 4px;
text-decoration: none;
text-tranform: uppercase;
}

a:hover, a:active {
background-color: #7a991a;
}
	

	
h1,{ 
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif;
font-size: 40px; #666;
margin-top: 0px
}

.foot { 
font-size: 12px; color: #cc0000;
}
