/*-----------------------------Home---------------------------*/

body, html {
background: #191919;
font-family:"Century Gothic","Lucida Grande",Arial,sans-serif; 
font-size: 16px; color: #fff; 
margin: 10px 0px;
padding: 15px;
width: 960px;
}
	
div{
background: url('bg1.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*-----------------------Navigation----------------------------*/

ul{
width: 600px;
margin: 0;
padding: 0;
list-style-type: none;
overflow: hidden;
}	

li {
float: right;
}

a:link, a:visited {
display: block;
text-transform:uppercase;
font: bold 24px;
color: #fff;
background-color: #98bf21;
text-align: left;
padding: 4px;
text-decoration: none;
}

a:hover, a:active {
background-color: #7A991A;
}
	
/*--------------------Intro - Welcome to Atlanta--------------------*/

h1 { 
font-size: 40px;
font-color: #FFF;
text-align: left;
text-shadow: 2px 2px #CCC;
margin: 5px 0px;
padding: 5px 0px;
}

/*-------------------------------Body--------------------------------*/

p {
text-align: justify;
}
/*------------------------------Footer-------------------------------*/

.foot { 
font-size: 12px; color: #98BF21;
}
